.generatorContainer {
    width: 90vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.generatorHeading {
    display: none;
}

.container {
    display: flex;
    gap: 1rem;
}

.urlContent {
    padding: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: var(--glass-gradient-2);
    border-radius: 0.5rem;
    word-wrap: break-word;
    box-shadow: var(--input-container-box-shadow);
    transition: box-shadow var(--transition-duration);
}

.urlText {
    font-size: 0.8rem;
    font-weight: 500;
    flex: 1;
    color: var(--text-normal);
    transition: color var(--transition-duration);
}

.urlText:hover {
    text-decoration: underline;
    cursor: pointer;
}

.infoContainer {
    display: flex;
    gap: 0.5rem;
}

.infoContainer p {
    font-size: 0.6rem;
    font-weight: 500;
    color: var(--text-normal);
    word-wrap: break-word;
    flex: 0.5;
    margin: 0rem;
}

@media screen and (min-width: 1024px) {
    .generatorContainer {
        width: 60vw;
    }

    .generatorHeading {
        display: block;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--text-highlight-2);
    }

    .container {
        flex-direction: row;
    }
}