.generatorContainer {
    width: 90vw;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttonContainer {
    display: flex;
    gap: 1rem;
}

.urlContent {
    width: 90vw;
    max-width: 600px;
    margin: 0;
    padding: 0.75rem;
    overflow-y: auto;
    color: var(--text);
    background-color: var(--card-bg);
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 0.5rem;
    word-wrap: break-word;
    box-shadow: var(--card-shadow-hover);
    transition: box-shadow var(--transition-duration), color var(--transition-duration), background-color var(--transition-duration);
}

.urlContent:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .urlContent {
        width: 80vw;
    }

    .generatorContainer {
        display: flex;
        width: 80vw;
        gap: 1rem;
    }

    .container {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .urlContent {
        width: 75vw;
        padding: 1rem;
    }

    .generatorContainer {
        width: 75vw;
    }
}