.buttonContainer {
    text-align: center;
    padding: 1rem;
}

.urlContainer {
    width : 70vw;
    margin: 1rem auto;
    padding: 1rem;
    color: var(--text);
    background-color: var(--card-bg);
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 0.5rem;
    word-wrap: break-word;
    box-shadow: var(--card-shadow-hover);
    transition: box-shadow 0.2s ease-in-out, tranform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    
}

.urlContainer:hover {
    text-decoration: underline;
    opacity: 0.75;
}