.loader {
  bottom: 50%;
  right: 50%;
  position: absolute;
  background-color: var(--text-highlight-2);
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  border-radius: 10%;
  animation: animateLoader 2s ease-in-out infinite both;
}

@media screen and (min-height: 768px) and (min-width: 1024px) {
  .loader {
    bottom: 5%;
    right: 5%;
  }
}

@keyframes animateLoader {
  0% {
    transform: scale(1) rotate(0);
    border-radius: 10%;
  }

  25% {
    transform: scale(2) rotate(0);
    border-radius: 10%;
  }

  50% {
    transform: scale(2) rotate(270deg);
    border-radius: 50%;
  }

  75% {
    transform: scale(1) rotate(270deg);
    border-radius: 50%;
  }

  100% {
    transform: scale(1) rotate(0);
    border-radius: 10%;
  }
}