.inputContent {
    width: 70vw;
    max-width: 550px;
    margin: 0.75rem auto;
    padding: 0.75rem;
    font-family: inherit;
    color: var(--text);
    background-color: var(--card-bg);
    font-size: 0.9rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    resize: none;
    box-shadow: var(--card-shadow-hover);
    transition: box-shadow 0.2s ease-in-out, tranform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.inputContent::placeholder {
    opacity: 0.5;
    color: var(--text);
}

@media screen and (min-width: 768px) {
    .inputContent {
        width: 60vw;
        flex-grow: 1;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .inputContent {
        width: 50vw;
        flex-grow: 1;
        padding: 1rem;
        font-size: 1rem;
    }
}