.inputContent {
    padding: 0.75rem;
    font-family: inherit;
    color: var(--text-normal);
    background: var(--glass-gradient-2);
    font-size: 0.8rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    resize: none;
    box-shadow: var(--input-container-box-shadow);
    transition: box-shadow var(--transition-duration), background-color var(--transition-duration), color var(--transition-duration);
}

.inputContent:active, .inputContent:focus {
    background: rgba(255, 255, 255, 0.1);
}

.inputContent::placeholder {
    opacity: 0.5;
    color: var(--text-normal);
    transition: color var(--transition-duration);
}