.inputContent {
    padding: 0.75rem;
    font-family: inherit;
    color: var(--text);
    background-color: transparent;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    resize: none;
    box-shadow: var(--neu-shadow);
    transition: box-shadow var(--transition-duration), background-color var(--transition-duration), color var(--transition-duration);
}

.inputContent:active, .inputContent:focus {
    background-color: rgba(0, 0, 0, 0.05);
}

.inputContent::placeholder {
    opacity: 0.5;
    color: var(--text);
    transition: color var(--transition-duration);
}

@media screen and (min-width: 768px) {
    .inputContent {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .inputContent {
        padding: 1rem;
    }
}