.buttonContent {
    color: var(--text-normal);
    background-color: transparent;
    font-size: 0.8rem;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid var(--text-normal);
    outline: none;
    padding: 0.65rem 1rem;
    /* box-shadow: var(--button-shadow); */
    border-radius: 6px;
    transition: box-shadow var(--transition-duration), background-color var(--transition-duration), color var(--transition-duration);
}

.buttonContent:hover,
.buttonContent:focus {
    /* box-shadow: var(--button-shadow-hover); */
    cursor: pointer;
    /* transition: box-shadow var(--transition-duration); */
}

.buttonContent span {
    display: inline-block;
    transform: scale(1);
    transition: transform var(--transition-duration);
}

.buttonContent:hover span,
.buttonContent:focus span {
    transform: scale(0.98);
    transition: transform var(--transition-duration);
}

.buttonContent:active span {
    transform: scale(1.04);
    transition: transform var(--transition-duration);
}