.buttonContent {
    color: var(--button-color);
    background-color: transparent;
    font-size: 0.8rem;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 0.8rem 1.5rem;
    box-shadow: var(--button-shadow);
    border-radius: 6px;
    transition: box-shadow var(--transition-duration), background-color var(--transition-duration), color var(--transition-duration) ;
}

.buttonContent:hover, .buttonContent:focus {
    color: var(--button-color-hover);
    box-shadow: var(--button-shadow-hover);
    cursor: pointer;
    transition: box-shadow var(--transition-duration);
}

.buttonContent span {
    display: inline-block;
    transform: scale(1);
    transition: transform var(--transition-duration);
}

.buttonContent:hover span, .buttonContent:focus span {
    transform: scale(0.98);
    transition: transform var(--transition-duration);
}

.buttonContent:active span {
    transform: scale(1.04);
    transition: transform var(--transition-duration);
}

@media (min-width: 1024px) {
    .buttonContent {
        font-size: 0.9rem;
        letter-spacing: 1.45px;
        padding: 0.9rem 1.65rem;
    }
}

@media (min-width: 1500px) {
    .buttonContent {
        font-size: 1rem;
        letter-spacing: 1.5px;
        padding: 1rem 1.8rem;
    }
}