.errorContent {
    width: 70vw;
    height: 20vh;
    font-size: 1.25rem;
    font-weight: 500;
    word-wrap: break-word;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--text);
    background-color: var(--card-bg);
    box-shadow: var(--card-shadow);
    transition: box-shadow 0.2s ease-in-out, tranform 0.2s ease-in-out, background-color 0.2s ease-in-out;;
}

@media screen and (min-width: 600px) {
    .errorContent {
        width: 60vw;
    }
}

@media screen and (min-width: 900px) {
    .errorContent {
        width: 50vw;
    }
}