.errorWrapper {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 600px;
}

.errorContainer {
    height: 20vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorStatus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    font-weight: 700;
    font-style: italic;
    opacity: 0.15;
    color: var(--text-obscurer);
    transition: color var(--transition-duration);
}

.errorContent {
    font-size: 0.9rem;
    line-height: 1.2;
    font-weight: 500;
    word-wrap: break-word;
    text-align: center;
    color: var(--text);
    transition: color var(--transition-duration);
}

@media screen and (min-width: 768px) {
    .errorWrapper {
        width: 60vw;
    }
}

@media screen and (min-width: 1024px) {
    .errorContent {
        font-size: 1rem;
        line-height: 1.4;
    }

    .errorStatus {
        font-size: 12rem;
    }

    .errorContainer {
        height: 22vh;
    }
}