.selectContainer {
    position: relative;
}

.selectContent {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 0.75rem;
    border-radius: 0.5rem;
    box-shadow: var(--neu-shadow);
    transition: box-shadow var(--transition-duration);
}

.selectInput {
    font-size: 0.9rem;
    font-family: inherit;
    flex-grow: 1;
    width: 50vw;
    color: var(--text);
    background-color: transparent;
    outline: none;
    border: none;
    resize: none;
    transition: color var(--transition-duration);
}

.selectInput::placeholder {
    opacity: 0.5;
    color: var(--text);
    transition: color var(--transition-duration);
}

.selectListContainer {
    position: absolute;
    top: 120%;
    left: 50%;
    width: 100%;
    box-shadow: var(--card-shadow-hover);
    transform: translateX(-50%);
    transition: box-shadow var(--transition-duration);
    cursor: pointer;
    border-radius: 0.25rem;
}

.selectListItem {
    font-size: 0.9rem;
    font-family: inherit;
    color: var(--text);
    background-color: transparent;
    padding: 1rem 0.75rem;
    outline: none;
    border: none;
    box-shadow: none;
    transition: color var(--transition-duration), background-color var(--transition-duration);
}

.selectListItem:first-of-type {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.selectListItem:last-of-type {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.selectListItem:hover {
    background-color: var(--card-bg);
}

@media screen and (min-width: 768px) {
    .selectContainer {
        width: 13rem;
    }

    .selectInput {
        font-size: 1rem;
        width: 10rem;
    }
}

@media screen and (min-width: 1024px) {
    .selectContent {
        padding: 1rem;
    }
}