.selectContainer {
    position: relative;
}

.selectContent {
    display: flex;
    justify-content: space-between;
    background: var(--glass-gradient-2);
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: var(--input-container-box-shadow);
    transition: box-shadow var(--transition-duration);
}

.selectInput {
    font-size: 0.8rem;
    font-family: inherit;
    flex-grow: 1;
    width: 8.5rem;
    color: var(--text-normal);
    background-color: transparent;
    outline: none;
    border: none;
    resize: none;
    transition: color var(--transition-duration);
}

.selectInput::placeholder {
    color: var(--text-heading-2);
    opacity: 0.6;
    transition: color var(--transition-duration);
}

.selectListContainer {
    position: absolute;
    top: 120%;
    left: 50%;
    width: 100%;
    box-shadow: var(--input-container-box-shadow);
    transform: translateX(-50%);
    cursor: pointer;
    border-radius: 0.25rem;
    backdrop-filter: blur(1rem);
    transition: box-shadow var(--transition-duration);
}

.selectListItem {
    font-size: 0.8rem;
    font-family: inherit;
    color: var(--text-highlight-3);
    background: var(--glass-gradient-2);
    padding: 1rem 0.75rem;
    outline: none;
    border: none;
    box-shadow: none;
    transition: color var(--transition-duration), background-color var(--transition-duration);
}

.selectListItem:first-of-type {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.selectListItem:last-of-type {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.selectListItem:hover {
    opacity: 0.3;
}