.descriptionContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.descriptionContent {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.descriptionContent p {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-normal);
    word-wrap: break-word;
    transition: color var(--transition-duration);
    margin: 0rem;
    flex: 1;
}

@media screen and (min-width: 1024px) {
    .descriptionContainer {
        flex: 1;
        padding-top: 0;
        padding-left: 1.5rem;
    }

    .descriptionContent p {
        font-size: 1rem;
    }
}