.descriptionContainer {
    display: flex;
    align-items: baseline;
}

.descriptionLabel {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--secondary-theme-color);
}

.descriptionContent {
    width: 70vw;
    margin: 0.5rem;
    font-size: 1rem;
    color: var(--text);
    word-wrap: break-word;
}

@media screen and (min-width: 600px) {
    .descriptionContent {
        width: 60vw;
    }
}

@media screen and (min-width: 900px) {
    .descriptionContent {
        width: 50vw;
    }
}