.descriptionContainer {
    margin: 1rem auto;
}

.descriptionHeading {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.descriptionLabel {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-theme-color);
}

.descriptionContent {
    width: 80vw;
    max-width: 300px;
    margin: 0.75rem auto 0rem;
    font-size: 0.75rem;
    color: var(--text);
    word-wrap: break-word;
}

@media screen and (min-width: 550px) {
    .descriptionContainer {
        margin: 1.25rem auto 1.5rem;
    }

    .descriptionContent {
        width: 75vw;
    }
}

@media screen and (min-width: 1000px) {
    .descriptionContainer {
        margin: 1.5rem auto 2rem;
    }

    .descriptionContent {
        width: 65vw;
    }
}