.container {
    text-align: center;
}

.header {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -0.25px;
    text-shadow: 12px 12px 2px rgba(0, 0, 0, 0.15);
    color: var(--theme-color);
}

.header span {
    color: var(--text-light);
}