.headerContent {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -0.25px;
    text-shadow: 12px 12px 2px rgba(0, 0, 0, 0.15);
    color: var(--theme-color);
    margin-top: 3rem;
}

.headerContent span {
    color: var(--text-light);
}