.headerContent {
    font-size: 4rem;
    font-weight: 500;
    font-family: 'Libre Barcode 39 Text';
    color: var(--text-heading-1);
    margin: 3rem auto 1rem;
    transition: color var(--transition-duration);
}

@media screen and (min-width: 480px) {
    .headerContent {
        font-size: 5rem;
    }    
}

@media screen and (min-width: 1024px) {
    .headerContent {
        margin: 2rem auto;
        font-size: 4rem;
    }
}