.footerContainer {
    width: 100%;
    max-width: 20rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    font-weight: bold;
}

.easy {
    color: var(--text-highlight-1);
    transition: color var(--transition-duration);
}

.quick {
    color: var(--text-highlight-2);
    transition: color var(--transition-duration);
}

.secure {
    color: var(--text-highlight-3);
    transition: color var(--transition-duration);
}

@media screen and (min-width: 1024px) {
    .footerContainer {
        padding: 0 0.5rem 0 0.75rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .footerContainer {
        font-size: 1.2rem;
    }
}