.page {
    width: inherit;
    height: inherit;
    overflow-x: hidden;
    overflow-y: inherit;
    background: var(--page-bg-gradient);
    transition: background-color var(--transition-duration);
}