.container{
    position: fixed;
    right:2rem;
    bottom:2rem;
    display:flex;
    background-color: blue;
    color: var(--text-light);
    padding:0.5rem 1rem;
    border-radius: 0.25rem;
}

.content{
    padding-left: 1rem;
    padding-right: 1rem;
}

.icon{
    color: var(--text-light);
    font-size: 1.25rem;
}