.iconButton {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    filter: brightness(100%);
    transition: background-color var(--transition-duration), filter var(--transition-duration);
}

.iconButton:hover {
    filter: brightness(70%);
}