.messageContent {
    width: 70vw;
    max-width: 550px;
    height: 20vh;
    margin: 1rem auto 0.75rem;
    padding: 0.75rem;
    overflow-y: auto;
    color: var(--text);
    word-wrap: break-word;
    background-color: var(--card-bg);
    box-shadow: var(--card-shadow-hover);
    transition: box-shadow 0.2s ease-in-out, tranform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
    .messageContent {
        width: 60vw;
    }
}

@media screen and (min-width: 1024px) {
    .messageContent {
        width: 50vw;
        padding: 1rem;
    }
}