.messageContainer {
    width: 90vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.messageheading {
    display: none;
}

.messageContent {
    padding: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: var(--glass-gradient-2);
    border-radius: 0.5rem;
    word-wrap: break-word;
    box-shadow: var(--input-container-box-shadow);
    transition: box-shadow var(--transition-duration);
}

.messageText {
    flex: 1;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-normal);
    transition: color var(--transition-duration);
}

.infoContainer {
    display: flex;
    gap: 0.4rem;
    margin-top: 0.5rem;
    opacity: 0.8;
}

.infoContainer p {
    font-size: 0.7rem;
    color: var(--text-normal);
    word-wrap: break-word;
    flex: 0.5;
    margin: 0;
    transition: color var(--transition-duration);
}

@media screen and (min-width: 1024px) {
    .messageContent {
        padding: 1rem 0.75rem;
    }
    
    .messageText {
        font-size: 1rem;
    }

    .messageContainer {
        width: 60vw;
    }

    .messageHeading {
        display: block;
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--text-highlight-2);
        transition: color var(--transition-duration);
    }
}